body {background:#000000}
td {font-family:Verdana; font-size:12; color:808386; text-align:justify; background:#000000}
a {font-weight:bold; text-decoration:none; color:557788}
A:hover {color:e0e3e6}
pre {font-family:Verdana; font-size:12; text-align:justify}
.q {background:#161616}
.n {color:#664488}